*,
::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Poppins, sans-serif;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position: relative;
}

/* top-navbar */
.navbar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.nav-icon {
    width: 100px;
    margin-left: 1rem;
}

.nav-list {
    display: flex;
    font-size: 1.2rem;
    align-items: flex-end;
    list-style: none;
    gap: 2rem;
    margin: 0px 3rem;
}

/* anchor-tags */
a {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}

#install-content{
    position: relative;
    top: 100px;
}

#install-content>header{
    padding: 10px 30px;
    background: linear-gradient(to right, #2b2b2b 0%, #ffffff 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}