.alert.main-container{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-left: 6rem;
    gap: 4rem;
    align-items: center;
}

/* alert-success */
.alert.alert-success{
    background-color: var(--success-light);
    color: var(--success-dark);
    padding: 1rem 4rem;
    border-radius: 10px;
}

/* alert-info */
.alert.alert-info{
    background-color: var(--info-light);
    color: var(--info-dark);
    padding: 1rem 4rem;
    border-radius: 10px;
}

/* alert-warning */
.alert.alert-warning{
    background-color: var(--warning-light);
    color: var(--warning-dark);
    padding: 1rem 4rem;
    border-radius: 10px;
}

/* alert-danger */
.alert.alert-danger{
    background-color: var(--danger-light);
    color: var(--danger-dark);
    padding: 1rem 4rem;
    border-radius: 10px;
}

.alert-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}