.avatar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* large */
.avatar-large-image{
    width: 8rem;
    height: 8rem;
    background-color: white;
    border-radius: 50%;
}

/* medium */
.avatar-medium-image{
    width: 6.25rem;
    height: 6.25rem;
    background-color: white;
    border-radius: 50%;
}

/* small */
.avatar-small-image{
    width: 3.5rem;
    height: 3.5rem;
    background-color: white;
    border-radius: 50%;
}