.avatar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 900px;
    margin-left: 5rem;
}

.round-avatar,.square-avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* round */
.round-avatar .extra-large-image{
    width: 8rem;
    height: 8rem;
    background-color: var(--primary-clr);
    border-radius: 50%;
}

.round-avatar .large-image{
    width: 7rem;
    height: 7rem;
    background-color: var(--primary-clr);
    border-radius: 50%;
}

.round-avatar .medium-image{
    width: 5.8rem;
    height: 5.8rem;
    background-color: var(--primary-clr);
    border-radius: 50%;
}

.round-avatar .small-image{
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--primary-clr);
    border-radius: 50%;
}

/* square */
.square-avatar .extra-large-image{
    width: 8rem;
    height: 8rem;
    background-color: var(--primary-clr);
    border-radius: 5px;
}

.square-avatar .large-image{
    width: 7rem;
    height: 7rem;
    background-color: var(--primary-clr);
    border-radius: 5px;
}

.square-avatar .medium-image{
    width: 5.8rem;
    height: 5.8rem;
    background-color: var(--primary-clr);
    border-radius: 5px;
}

.square-avatar .small-image{
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--primary-clr);
    border-radius: 5px;
}