.badge.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 5rem;
    width: 900px;
}

.badge.num-notification, .badge.num-mail, .badge.num-cart, .badge.num-avatar{
    position: relative;
    display: inline-block;
}

/* badge-notification */
.badge.num-notification>i{
    font-size: 4rem;
}

.badge.num-container, .badge.profile-container{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.badge-notification-count{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    background:rgb(0, 153, 255);
    color:rgb(255, 255, 255);
    width: 1.7rem;
    border: 2px solid black;
    border-radius: 50%;
}

/* badge-mail */
.badge.num-mail>i{
    font-size: 4rem;
}

.badge-mail-count{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -12px;
    top: 0;
    background:rgb(0, 153, 255);
    color:rgb(255, 255, 255);
    width: 1.7rem;
    border: 2px solid black;
    border-radius: 50%;
}

/* badge-cart */
.badge.num-cart>i{
    font-size: 4rem;
}

.badge-cart-count{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -12px;
    top: 0;    
    background:rgb(0, 153, 255);
    color:rgb(255, 255, 255);
    width: 1.7rem;
    border: 2px solid black;
    border-radius: 50%;
}

/* badge-avatar */
.avatar-badge-image{
    background: white;
    border-radius: 50%;
    width: 4rem;
}

.badge-avatar-count{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -12px;
    top: 0;
    background:rgb(0, 153, 255);
    color:rgb(255, 255, 255);
    width: 1.7rem;
    border: 2px solid black;
    border-radius: 50%;
}

/* activity-status */
.badge.profile-success,.profile-error,.profile-warning,.profile-awol{
    position: relative;
}

.badge-activity{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    bottom: 5px;
    right: 2px;
}
.badge.profile-success>.badge-activity{
    background-color: greenyellow;
}
.badge.profile-error>.badge-activity{
    background-color: #DC2625;
}
.badge.profile-warning>.badge-activity{
    background-color: #F59E0B;
}
.badge.profile-awol>.badge-activity{
    background-color: rgb(150, 150, 150);
}