/* aside-navbar */
#aside-navbar {
    position: fixed;
    min-width: 290px;
    left: 0px;
    width: 300px;
    height: 100vh;
    margin-left: 1rem;
    margin-top: 7rem;
}

header {
    padding: 10px 30px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
}

#aside-navbar>ul {
    display: flex;
    flex-direction: column;
    height: 88%;
    padding: 2rem 0;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 2rem;
}

#aside-navbar li {
    list-style: none;
    position: relative;
    width: 100%;
}

#aside-navbar a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}
#aside-navbar a:hover{
    color: var(--primary-clr-hover);
}

#main-doc {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 20rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 20px;
    gap: 2rem;
}

#main-doc header {
    text-align: center;
    margin: 0px;
}

#main-doc h1{
    margin: 1rem 0;
}

.doc-link{
    color: var(--primary-clr-hover);
}
.doc-link:hover{
    color: var(--primary-clr);
}