.image-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-left: 5rem;
    width: 900px;
}

.image-responsive{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
    height: auto;
}

.image-fluid{
    width: 100%;
    height: auto;
}

.image-fluid.round{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

@media screen and (max-width: 500px) {
    .image-responsive{
        padding: 5px 20px;
        background-color: rgb(85, 85, 85);
        border-radius: 5px;
    }

    .image-responsive>img{
        width: 100%;
        height: auto;
    }
}