.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 900px;
    margin-left: 5rem;
}

.textarea-container{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg);
    min-height: 300px;
    width: 500px;
    padding: 1rem 1.2rem;
    border-radius: 10px;
    align-items: flex-end;
    margin-bottom: 5rem;
}

.textarea{
    height: 250px;
    width: 100%;
    border-radius: 5px;
    padding: 1rem 1.2rem;
    outline: none;
    background-color: var(--primary-clr);
    color: var(--primary-bg);
}
::placeholder{
    color: var(--primary-bg);
}

.btn-submit{ 
    margin-top: 1rem;
    width: 30%;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-submit:hover{
    background-color: var(--primary-clr-hover);
    color:var(--primary-clr);
}


/* sign-in-form */
.sign-in-form-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.sign-in-container {
    background-color: var(--primary-clr);
    border-radius: 5px;
    overflow: hidden;
    width: 500px;
    max-width: 100%;
}

.header{
    background-color: var(--placeholder-clr);
    border-bottom: 1px solid var(--primary-clr);
    padding: 20px 40px;
    text-align: center;
    color: var(--primary-bg);
}

.header h2{
    margin: 0;
}

.form{
    padding: 20px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid var(--placeholder-clr);
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control.success input{
    border: 1px solid var(--activity-success);
}

.form-control.error input{
    border: 1px solid var(--activity-error);
}

.form-control i{
    visibility: hidden;
    position: absolute;
    top: 45px;
    right: 15px;
}

.form-control.success i#suc{
    visibility: visible;
    color: var(--activity-success);
}

.form-control.error i#err{
    color: var(--activity-error);
    visibility: visible;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small{
    visibility: visible;
    color: var(--activity-error);
}

.form button{
    background-color: var(--primary-bg);
    color: var(--primary-clr);
    border: none;
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    display: block;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

#sign-in{
    text-align: center;
    padding: 10px;
    font-family: inherit;
}

/* js-link */
.js-link{
    font-size: 1.2rem;
}

.js-link>a:hover{
    color: var(--primary-clr-hover);
}