.installation-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.installation-content>header{
    padding: 10px 30px;
    background: linear-gradient(to right, #2b2b2b 0%, #ffffff 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}