.modal-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-left: 5rem;
    width: 900px;
}

.modal-content{
    display: none;
}

.modal-content.show {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal {
    background-color: #171717;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-radius: 10px;
    gap: 2rem;
    position: relative;
    height: 300px;
}

.modal-icon {
    font-size: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    width: 4.8rem;
    text-align: center;
}

.modal-info{
    color:rgb(170, 170, 170);
}

.modal-dismiss {
    position: absolute;
    top: 10px;
    right: 20px;
}

.modal-dismiss:hover {
    color: rgb(125, 125, 125)
}

.btn-modal {
    font-size: 1.5rem;
    padding: 0.5rem 4rem;
    border: 1px solid white;
    background: black;
    color: white;
    border-radius: 10px;
}

.btn-modal:hover {
    background-color: #505050;
    border: 1px solid #505050;
}

.modal-btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.modal-btns.proceed {
    border: none;
    font-size: 1rem;
    background-color: rgb(180, 0, 0);
    padding: 0.5rem 1.2rem;
    color: white;
    border-radius: 5px;
}

.modal-btns.proceed:hover {
    background-color: rgb(150, 0, 0);
}

.modal-btns.cancel {
    border: 1px solid white;
    font-size: 1rem;
    background: none;
    padding: 0.5rem 1.2rem;
    color: white;
    border-radius: 5px;
}

.modal-btns.cancel:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    border: 1px solid rgb(150, 150, 150);
}