.modal-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-left: 5rem;
    width: 900px;
}

.modal-content{
    display: none;
}

.modal-content.show {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal {
    background-color: var(--secondary-bg);
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-radius: 10px;
    gap: 2rem;
    position: relative;
    height: 300px;
}

.modal-icon {
    font-size: 3rem;
    border: 2px solid var(--primary-clr);
    border-radius: 50%;
    width: 4.8rem;
    text-align: center;
}

.modal-info{
    color:var(--primary-clr-hover);
}

.modal-dismiss {
    position: absolute;
    top: 10px;
    right: 20px;
}

.modal-dismiss:hover {
    color: var(--primary-clr-hover);
}

.btn-modal {
    font-size: 1.5rem;
    padding: 0.5rem 4rem;
    border: 1px solid var(--primary-clr);
    background: var(--primary-bg);
    color: var(--primary-clr);
    border-radius: 10px;
}

.btn-modal:hover {
    background-color: var(--primary-clr-hover);
    border: 1px solid var(--primary-clr-hover);
}

.modal-btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.modal-btns.proceed {
    border: none;
    font-size: 1rem;
    background-color: var(--liked-clr);
    padding: 0.5rem 1.2rem;
    color: var(--primary-clr);
    border-radius: 5px;
}

.modal-btns.proceed:hover {
    background-color: var(--danger-dark);
}

.modal-btns.cancel {
    border: 1px solid var(--primary-clr);
    font-size: 1rem;
    background: none;
    padding: 0.5rem 1.2rem;
    color: var(--primary-clr);
    border-radius: 5px;
}

.modal-btns.cancel:hover {
    background-color: var(--primary-clr-hover);
    color: var(--primary-clr);
    border: 1px solid var(--primary-clr-hover);
}