.snackbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 900px;
    min-width: 100vh;
    margin-left: 3rem;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem;
}

.button-container>button {
    border: none;
    background-color: var(--primary-clr);
    color: var(--primary-bg);
    padding: 0.5rem;
    border-radius: 5px;
    transition: 0.5s;
}
.button-container>button:hover{
    background-color: var(--primary-clr-hover);
    color: var(--primary-clr);
}

.button-container>button.clicked{
    background-color: var(--primary-clr-hover);
}

.snackbar {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-clr);
    color: var(--primary-bg);
    padding: 10px 20px;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    display: none;
}

.snackbar>button{
    border: none;
    background: transparent;
    color: var(--primary-bg);
    font-size: 1rem;
}

.snackbar>button>i{
    color: var(--primary-bg);
    margin-left: 30px
}

.snackbar.baseline{
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-clr);
    color: var(--primary-bg);
    padding: 10px 20px;
    gap: 3rem;
    bottom: 3%;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.snackbar.leading{
    position: absolute;
    bottom: 3%;
    left: 3%;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-clr);
    color: var(--primary-bg);
    padding: 10px 20px;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.snackbar.stacked{
    position: absolute;
    bottom: 3%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-clr);
    color: var(--primary-bg);
    padding: 10px 20px;
    gap: 1rem;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 5px;
}