.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 900px;
    margin-left: 5rem;
}

.utility-container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.heading-container, .text-utility-container, .coloured-text-utility-container, .coloured-text-utility-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 0 2rem 3rem;
    gap: 1rem;
}

.code-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* heading */
.heading-1{
    font-size: 3.5rem;
}
.heading-2{
    font-size: 3rem;
}
.heading-3{
    font-size: 2.5rem;
}
.heading-4{
    font-size: 2rem;
}
.heading-5{
    font-size: 1.5rem;
}
.heading-6{
    font-size: 1rem;
}

/* text-utilities */
.small-text{
    font-size: 0.7rem;
}
.regular-text{
    font-size: 1rem;
}
.large-text{
    font-size: 1.2rem;
}

/* coloured-text-utilities */
.primary-text{
    font-size: 1.2rem;
    color: var(--primary-clr);
}
.secondary-text{
    font-size: 1.2rem;
    color: var(--primary-clr-hover);
}
.success-text{
    font-size: 1.2rem;
    color: var(--success-light);
}
.warning-text{
    font-size: 1.2rem;
    color: var(--warning-light);
}
.error-text{
    font-size: 1.2rem;
    color: var(--danger-light);
}

/* aligned-text-utilities */
.left-text{
    font-size: 1.2rem;
    text-align: left;
}
.center-text{
    font-size: 1.2rem;
    text-align: center;
}
.right-text{
    font-size: 1.2rem;
    text-align: right;
}